body {
	font: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	font-family: 'Saira', sans-serif;
}

/*Global*/

.container{
	margin: auto;
	width: 80%;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

.button_1{
	height: 38px;
	background: #AD0F0F; 
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}

.button_2{
	height: 38px;
	background: #ffffff; 
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #858585;
}

.dark{
	background-color: #BFBBBB;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 15px;
	color: #ffffff;
}

.justice{
	background-color: #AD0F0F;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 15px;
	color: #ffffff;
}
/*Header*/

header{
	background-color: #BFBBBB;
	border-bottom: solid #AD0F0F 3px;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
}

header a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	color: #ffffff;
}

header li{
	float: left;
	padding: 0 20px 0 20px;
	display: inline;
}

header nav{
	float: right;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
	margin-left: 15px;
	color: #ffffff;
}

header img{
	float: left;
	width: 60px;
}

header .highlight, header .current a, .lit{
	font-weight: bold;
	color: #AD0F0F;
}

header a:hover{
	font-weight: bold;
	color: black;
}
/*Showcase*/

#showcase{
	min-height: 400px;
	background: url('../img/showcase.jpg') no-repeat center;
	background-color: black;
	color: #616161;
}

#showcase_about{
	min-height: 400px;
	background: url('../img/models.jpg') no-repeat center;
	background-color: black;
	color: #616161;
}

#showcase_models{
	min-height: 400px;
	background: url('../img/models3.jpg') no-repeat center;
	background-color: black;
}

#showcase h1{
	font-size: 50px;
	color: #AD0F0F;
	padding-top: 20px;
}

#showcase p{
	font-size: 16px;
	color: black;
}

/*Newsletter
*/

#newsletter{
	background-color: #BFBBBB;
	padding: 15px;
	color: #ffffff;
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/*Boxes*/

#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	width: 30%;
	text-align: center;
	padding: 10px;
}

#boxes .box img{
	width: 90px;
}

/*About*/

article#main-col{
	float:left;
	width: 60%;
}

aside#sidebar{
	float:right;
	width: 30%;
}

/*Models*/
ul#models{
	margin-bottom: 20px;
}

ul#models li{
	list-style: none;
	border: 1px solid #B9B9B9;
	background-color:#EBEBEB;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
}

/*Quote Form*/
aside#sidebar .quote input, aside#sidebar .quote textarea{
	padding: 10px;
	margin-bottom: 10px;
	width: 90%;
}


/*Footer*/

footer{
	padding: 15px;
	color: #ffffff;
	text-align: center;
	background-color: #AD0F0F;
}


/*Media Queries*/

@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar
	{
		float: none;
		width: 100%;
		text-align: center;
	}

	#newsletter input[type="email"], #newsletter button{
		width: 100%;
	}

	#showcase_about{
	background: url('../img/models.jpg') no-repeat -200px 0;
	}

	#showcase_models{
	background: url('../img/models3.jpg') no-repeat -650px 0;
	}

}

