@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; }

.row {
  width: 1140px;
  margin: 0 auto; }

.section-content {
  padding: 5rem 0; }

/*-------NAV SECTION------- */
.logo {
  float: left;
  margin-top: 20px; }
  .logo img {
    height: auto;
    width: 230px; }

.main-nav {
  float: right;
  position: relative;
  left: 5rem;
  top: 1.56rem; }
  .main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 2px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .main-nav li a:link,
  .main-nav li a:visited {
    text-decoration: none;
    color: white;
    font-size: 90%;
    transition: color 0.2s; }
  .main-nav li a:hover,
  .main-nav li a:active {
    color: #FF6600; }

/*-------COVER SECTION------- */
.cover {
  background: url("../img/cover1.jpeg") center no-repeat;
  background-size: cover;
  height: 100vh;
  color: white; }

.cover-text-box {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center; }
  .cover-text-box p {
    margin-bottom: 40px;
    font-size: 110%;
    font-style: italic;
    word-spacing: 3px; }

/*-------HEADER ELEMENT------- */
h2,
h3,
.main-nav li {
  font-family: "Montserrat", sans-serif; }

h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 420%;
  font-family: "Raleway", cursive;
  font-weight: 300;
  text-transform: uppercase; }

h1:after {
  width: 20%;
  background-color: white;
  height: 4px;
  content: "";
  display: block;
  margin: 0 auto; }

h2 {
  text-align: center;
  margin-bottom: 3.125rem; }

h2:after {
  width: 20%;
  background-color: #D5D8DC;
  height: 2px;
  content: "";
  display: block;
  margin: 10px auto; }

h3 {
  color: black;
  text-transform: uppercase;
  margin-bottom: 10px; }

/*-------BUTTONS------- */
.btn:link,
.btn:visited {
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem; }

.btn:hover,
.btn:active {
  background: #FF6600; }

/*-------ABOUT SECTION------- */
.about-image {
  width: 80%;
  height: 400px;
  background-image: url("../img/about.jpeg");
  background-size: cover;
  background-position: bottom;
  margin: 0 auto; }

.about-text {
  text-align: center;
  border: 1px solid white;
  margin: 0 auto;
  margin-top: -60px;
  padding: 1rem;
  width: 60%;
  line-height: 160%;
  font-size: 90%;
  color: #888888;
  box-shadow: lightgray 0px 2px 15px;
  background: white;
  z-index: 0; }

/*-------FEATURES------- */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0; }

.box {
  text-align: center;
  font-size: 14px;
  line-height: 160%;
  color: #888888;
  padding: 2rem 1rem; }

.box-1 {
  border-bottom: 1px solid #D5D8DC; }

.box-2 {
  border-left: 1px solid #D5D8DC;
  border-bottom: 1px solid #D5D8DC;
  border-right: 1px solid #D5D8DC; }

.box-3 {
  border-bottom: 1px solid #D5D8DC; }

.box-5 {
  border-left: 1px solid #D5D8DC;
  border-right: 1px solid #D5D8DC; }

/*-------ICONS------- */
.icon {
  color: black;
  font-size: 1.45rem;
  display: block;
  margin-bottom: 10px; }

/*-------PORTFOLIO SECTION------- */
#portfolio {
  background-color: #f4f4f4;
  padding: 4rem 0; }

.grid-row {
  margin: 0 auto;
  width: 70%; }

.portfolio-content {
  margin-bottom: 5rem; }

.container-portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 220px;
  grid-gap: 1em; }

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase; }
  .portfolio-item img {
    width: 100%;
    height: 100%; }

.medium {
  grid-row: span 1;
  grid-column: span 1; }

.large {
  grid-row: span 2;
  grid-column: span 1; }

/*-------FIXED SECTION------- */
#fixed {
  background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)), url("../img/fixed2.jpeg") no-repeat;
  height: 300px;
  background-size: cover;
  background-position-y: 25%; }

.container-fixed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  align-items: end;
  justify-content: center;
  grid-auto-rows: minmax(250px, auto);
  margin: 0 auto; }

.stats-box {
  display: grid;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative; }

.stats-box blockquote {
  font-style: italic;
  padding: 1rem;
  font-size: 118%;
  font-weight: 300;
  line-height: 145%; }

blockquote:before {
  content: " “";
  font-size: 250%;
  display: block;
  position: absolute;
  top: 20px;
  left: 20px; }

.stats-box cite {
  display: block;
  margin-top: 10px;
  font-size: 90%;
  font-style: normal; }

/*-------NEWS SECTION------- */
.container-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(220px, auto); }
  .container-news img {
    width: 100%;
    height: 100%; }

.date {
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif; }

.news-item h3 {
  font-size: 15px;
  line-height: 175%;
  transition: color 0.2s;
  letter-spacing: 1px; }
.news-item h3:hover {
  color: #E59866; }
.news-item p {
  line-height: 150%;
  font-size: 90%;
  color: #888888; }

.news-text-3 {
  display: grid;
  align-self: center; }

.news-text a:link,
.news-text a:visited {
  text-decoration: none; }
.news-text .date {
  font-size: 85%; }

.small-2 {
  grid-column: span 1;
  grid-row: span 1; }

.medium-2 {
  grid-column: span 2;
  grid-row: span 1; }

.large-2 {
  grid-column: span 2;
  grid-row: span 2; }

/*-------NEWSLETTER SECTION------- */
#newsletter {
  background-color: #f4f4f4; }

.newsletter-box h3 {
  font-size: 150%;
  letter-spacing: 2px; }

.container-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }
  .container-form input[type=email] {
    padding: 0.5rem 1.3rem;
    padding-right: 5rem;
    margin-right: 20px;
    font-size: 90%;
    font-weight: 100; }
  .container-form button {
    padding: 0.3rem 0.5rem;
    width: 120px;
    color: white;
    text-transform: uppercase;
    background: black;
    font-size: 90%; }
  .container-form button:hover {
    color: white;
    background: #FF6600; }

/*# sourceMappingURL=app.css.map */
